:root {
  --primary-color: #004dd3;
  --primary-color-lighter: #2c73ee;
  --secondary-color: #fdad26;
  --accent-color: #4764AB;
  --text-color: #000;
  --heading-font-weight: 700;
}

body {
  background-color: var(--primary-color-lighter);
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
}

.page-header {
  display: flex;
  padding: 10px;
  background-color: var(--primary-color);
}

.page-header__item {
  flex: 0 1 250px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}

.article-list {
  list-style-type: none;
  display: grid;
}

@media all and (min-width: 900px) {
  .article-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-style: none;
  }
}

@media all and (min-width: 750px) and (max-width: 900px) {
  .article-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-style: none;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .article-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-style: none;
  }
}

@media all and (max-width: 500px) {
  .article-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-style: none;
  }
}