:root {
    --primary-color: #FFDE58;
    --secondary-color: #7644AC;
    --accent-color: #4764AB;
    --text-color: #000;
    --heading-font-weight: 700;
}

body {
    background-color: var(--primary-color);
    font-family:'Courier New', Courier, monospace;
    color: var(--text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
}

.pokemonButton {
    border: none;
    background-color: #A583C9;
    color: var(--secondary-color);
    font-family: inherit;
    text-decoration: none;
    padding: 10px;
}